<div id='new_vps_with_os' class="columns">

  <div class='column'>
    <div class='form-section-header-prominent'>VPS Plan / Size:</div>
    <div class='select '>
      <select name='plan'>
        <option>Please Choose</option>
        <% VirtualMachine.plans['vps'].sort_by { |k, v| v['mrc'] }.each do |k, plan| %>
          <option value='<%= k %>'>
          <%= plan['ram'] %> MB RAM, <%= plan['storage'] %> GB HD, <%= plan['bandwidth'] / 1000 %> TB Bandwidth: $<%= plan['mrc'] %>
          </option>
        <% end %>
      </select>
    </div>

    <div class='form-section-header-prominent'>Operating System:</div>
    <div>
      <% $CLOUD_OS.sort_by { |k, v| v['title'] }.each do |k, v| %>
        <% v['series'].sort { |a, b| b['version'] <=> a['version'] }.each do |series| %>
          <input type='radio' id='os_<%= series['code'] %>' name='os' value='<%= series['code'] %>' <%= series['pending'] && 'disabled' %>>
          <label for='os_<%= series['code'] %>' class='<%= series['pending'] && 'disabled' %>'><img src='/images/icons/os/<%= k %>.png' width="16" height="16" alt='<%= v['title'] %> icon'>
            <%= v['title'] %> <%= series['version'] %>
          </label>
          <br/>
        <% end %>
      <% end %>
    </div>

    <div class='form-section-header-prominent'>Users and SSH keys</div>

    <div>
      New User Key:
    </div>
    <div class='select'>
      <select name='ssh_key' id='ssh_key_selector'>
        <option value='none'>None</option>
        <option value='add'>Add New Key</option>
        <option disabled>-- Existing Keys --</option>
      </select>
    </div>
  <%# <p> %>
  <%# <a class="button is-link is-outlined modal-button" data-target="#mymodal" aria-haspopup="true">Add SSH Key</a> %>
  <%# </p> %>
  <div id='mymodal' class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        Hi! From inside the box...
      </div>
      <!-- Any other Bulma elements you want -->
    </div>
    <a class="modal-close is-large" aria-label="close"></a>
  </div>

  </div>

  <div class='column'>

    <%= render :partial => 'location', :locals => { :title => nil } %>
    <div class='small-note'>
      <div class='caption' style='float: left'>Note:</div>
      <div>
        Please email <a href='mailto:support@arpnetworks.com'>support@arpnetworks.com</a> if you need an IP block for either of these locations.
      </div>
    </div>


    <div class='form-section-header-prominent'>IP Address Assignments</div>
    <div>
      <div>
        IPv4 on first network interface:
      </div>
      <div class='select  is-loading'>
        <select id='ipv4_address_selector'>
          <option></option>
        </select>
      </div>

      <div>
        <input type='checkbox' id='ip_manual_input'> Let me type my own
      </div>
    </div>

    <div class='small-note'>
      <div class='caption' style='float: left'>Note:</div>
      <div>
        IPv6 address and gateway will be assigned by auto-configuration.
      </div>
    </div>

  </div>




</div>

<br/>
<br/>
<br/>

<% content_for :js do %>
  $(document).ready(populateIpAddresses('lax'))
<% end %>
