<div id='new_vps_with_os' class="columns">

  <div class='column'>
    <div class='form-section-header-prominent' id='plan_selector_header'>
      <span class="icon is-small is-right is-hidden" id='plan_selector_header_error'>
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      VPS Plan / Size:
    </div>
    <div class='select'>
      <select name='plan'>
        <option value=''>Please Choose</option>
        <% VirtualMachine.plans['vps'].sort_by { |k, v| v['mrc'] }.each do |k, plan| %>
          <%# <option value='<%= k %1>'<%= k == 'small' ? ' selected' : '' %1>> %>
          <% selected_plan = (p = session['form']['plan']) ? p : 'small' %>
          <option value='<%= k %>'<%= selected_plan == k ? ' selected' : '' %>>
          <%= plan['ram'] %> MB RAM, <%= plan['storage'] %> GB HD, <%= plan['bandwidth'] / 1000 %> TB Bandwidth: $<%= plan['mrc'] %>
          </option>
        <% end %>
      </select>
    </div>

    <div class='form-section-header-prominent' id='os_selector_header'>
      <span class="icon is-small is-right is-hidden" id='os_selector_header_error'>
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      Operating System:
    </div>
    <div id='os_selector'>
      <% $CLOUD_OS.sort_by { |k, v| v['title'].downcase }.each do |k, v| %>
        <% v['series'].sort { |a, b| b['version'] <=> a['version'] }.each do |series| %>
          <input type='radio' id='os_<%= series['code'] %>' name='os' value='<%= series['code'] %>' <%= series['pending'] && 'disabled' %> <%= session['form']['os'] == series['code'] ? 'checked' : '' %>>
          <label for='os_<%= series['code'] %>' class='<%= series['pending'] && 'disabled' %>'><img src='/images/icons/os/<%= k %>.png' width="16" height="16" alt='<%= v['title'] %> icon'>
            <%= v['title'] %> <%= series['version'] %>
          </label>
          <br/>
        <% end %>
      <% end %>
    </div>

    <div class='form-section-header-prominent' id='ssh_key_selector_header'>
      <span class="icon is-small is-right is-hidden" id='ssh_key_selector_header_error'>
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      Users and SSH keys
    </div>

    <div id='ssh_key_selector_error_message' class='is-hidden has-text-danger'>
      <div>
        Are you sure?
      </div>
      <div>
        If you don't add an SSH key, you won't be able to login without additional work.
      </div>
    </div>

    <div id='ssh_key_selector'>
    </div>
    <div>
      <button id='add_ssh_key' class='button is-loading is-small'>
        <span class='icon'>
          <i class="fas fa-plus-square"></i>
        </span>
        <span>
          Add Your Key
        </span>
      </button>
    </div>

  </div>

  <div class='column'>

    <%= render :partial => 'location', :locals => { :title => nil } %>
    <div class='small-note'>
      <div class='caption' style='float: left'>Note:</div>
      <div>
        Please email <a href='mailto:support@arpnetworks.com'>support@arpnetworks.com</a> if you need an IP block for either of these locations.
      </div>
    </div>

    <div class='form-section-header-prominent' id='ipv4_address_selector_header'>
      <span class="icon is-small is-right is-hidden" id='ipv4_address_selector_header_error'>
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      IP Address Assignments
    </div>
    <div>
      <div class='select is-loading'>
        <select id='ipv4_address_selector' name='ipv4'>
          <option></option>
        </select>
      </div>

      <!--
        <div>
        <input type='checkbox' id='ip_manual_input'> Let me type my own
        </div>
        //-->
    </div>

    <div class='small-note'>
      <div class='caption' style='float: left'>Note:</div>
      <div>
        IPv6 address and gateway will be assigned by auto-configuration.
      </div>
    </div>

  </div>
</div>

<% content_for :js do %>
  $(document).ready(function() {
  populateIpAddresses('<%= session['form']['location'] || 'lax' %>');
  var ssh_keys = [
  <% session['form']['ssh_keys'] do |key_id| %>
    <%= key_id %>,
  <% end %>
  ];
  populateSSHKeys(<%= @account.id %>, ssh_keys);
  });
<% end %>
