<table class="services new" align="center">
  <caption>Add New Service</caption>
  <tbody>
    <tr>
      <td>

        <div class="notice-cool">
          <i class="fas fa-clock"></i> All VPS services are now fulfilled within <strong>3 minutes</strong>
        </div>

        Which service would you like to add?

        <%= form_tag("", :method => 'GET') do %>
          <ul>
            <li>
              <%= radio_button_tag(:service, "vps_with_os", false) %>
              <%= label_tag(:service_vps_with_os, "Loaded VPS (recommended)") %>
            </li>

            <li>
              <%= radio_button_tag(:service, "vps") %>
              <%= label_tag(:service_vps, "Skinny VPS, blank disk, roll-your-own (for advanced users)") %>
            </li>

            <!--
            <li>
              <%= radio_button_tag(:service, "thunder") %>
              <%= label_tag(:service_thunder, "ARP Thunder™ Cloud Dedicated Server") %>
            </li>

            <li>
              <%= radio_button_tag(:service, "metal", false) %>
              <%= label_tag(:service_metal, "ARP Metal™ Dedicated Server") %>
            </li>
            <li>
              <%= radio_button_tag(:service, "backup") %>
              <%= label_tag(:service_backup, "Backup Storage") %>
            </li>

            //-->

            <li>
              <%= radio_button_tag(:service, "bgp") %>
              <%= label_tag(:service_bgp, "BGP Session") %>
            </li>
          </ul>

          <br/>

          <div>
          <button type='submit' class='btn btn-info'><i class="fas fa-chevron-right"></i> &nbsp;Continue</button>
          </div>
        <% end %>

      </td>
    </tr>
  </tbody>
</table>


