<h2 class='title is-2 arp-header'><%= @title %></h2>

<div class='container'>

  <% @id = 'new_service_configurator' if @service == 'vps_with_os' %>

  <%= form_tag(confirm_account_services_path, :method => 'POST', :id => @id) do %>

    <%= render :partial => "new_" + @service %>

    <%= hidden_field_tag(:service, @service) %>

    <div class="columns">
      <div class="column has-text-centered">
        <button type='submit' class='button is-link'>
          <span class="icon is-small">
            <i class="fas fa-chevron-right"></i>
          </span>
          <span>
            Continue
          </span>
        </button>
      </div>
    </div>

  <% end %>

  <% if @service == 'vps_with_os' %>
    <%= render partial: 'ssh_key_dialog' %>
  <% end %>
</div>

