<thead>
  <tr>
    <th class="action" style="width: 48px"></th>
    <th class="vlan">VLAN</th>
    <th class="vlan_label">Label</th>
    <th class="vlan_location">Loc.</th>
  </tr>
</thead>
<tbody>
  <% if @all_vlans.size == 0 %>
    <tr>
      <td class="no_records" colspan="3">
        No VLANs found
      </td>
    </tr>
  <% else %>
  <% @all_vlans.each do |vlan| %>
    <tr class="<%= cycle("odd", "even") -%> <%= vlans_table_highlight(vlan) %>" <%= vlans_table_onClick(vlan) %>>
      <td class="action">
        <% unless vlan.new_record? %>
        <%= link_to(image_tag('/images/icons/pencil.png', :alt => "Edit"), edit_admin_vlan_path(vlan.id)) %>
        <%= link_to(image_tag('/images/icons/cross.png', :alt => "Delete"), 
                    admin_vlan_path(vlan.id), 
                    :method => :delete,
                    :confirm => 'Are you sure you want to delete this service code?  THIS CANNOT BE UNDONE.',
                    :class => 'no-event-bubble-up') %>
        <% end %>
      <td class="vlan"><%= vlan.vlan %></td>
      <td class="vlan_label"><%= vlan.label %></td>

      <% location = (vlan.location && vlan.location.code) || 'lax' %>

      <td class="vlan_location"><%= image_tag('/images/icons/flag_' + location + '_tiny.png', :alt => location) %></td>
    </tr>
  <% end %>
<% end %>
</tbody>
