<table class="reverse-dns">
  <caption>
    <div>&nbsp;
      <div class="title">
        Reverse DNS Records
      </div>
      <div class="actions">
        <%= link_to("New Record", new_account_dns_record_path, :class => 'add_item') %>
      </div>
    </div>
  </caption>
  <thead>
    <tr>
      <th class="action"></th>
      <th class="record">Record</th>
      <th class="type">Type</th>
      <th class="content">Content</th>
    </tr>
  </thead>
  <tbody>
  <% if @records_all.size == 0 %>
    <tr>
      <td class="no_records" colspan="4">
        No records found
      </td>
    </tr>
  <% else %>
  <% @records_all.each do |record| %>
    <% record_obj = DnsRecord.find(record.r_id) %>
    <tr class="<%= cycle("odd", "even") -%>">
      <td class="action">
        <% if @account.owns_dns_record?(record_obj) %>
        <%= link_to(image_tag('/images/icons/pencil.png', :alt => "Edit"), edit_account_dns_record_path(@account.id, record.r_id)) %>
        <%= link_to(image_tag('/images/icons/cross.png', :alt => "Delete"),
                    account_dns_record_path(@account.id, record.r_id),
                    :method => :delete,
                    :data => { :confirm => "Are you sure you want to delete this record?" }) %>
        <% end %>
      </td>
      <td class="name"    <%= dns_records_table_onClick(@account, record_obj) %>><%= record.name %></td>
      <td class="type"    <%= dns_records_table_onClick(@account, record_obj) %>><%= record.r_type %></td>
      <td class="content" <%= dns_records_table_onClick(@account, record_obj) %>><%= record.content %></td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>

&laquo; <%= link_to('Back to Dashboard', dashboard_path) %>
