<div class="error">
  <%= error_messages_for :bgp_session %>
</div>

<%= form_for([:admin, @bgp_session]) do |f| %>
<table class="entry_form edit_bgp_session" align="center">
  <caption>Edit BGP Session</caption>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="1">
        <input type='submit' value="Save changes" />
      </td>
    </tr>
  </tfoot>
  <%= render :partial => 'form', :locals => { :f => f } %>
</table>
<% end %>

&laquo; <%= link_to('Back to All BGP Sessions', admin_bgp_sessions_path) %>

<% if !@bgp_session.asn.to_s.empty? &&
      !@bgp_session.peer_host.empty? &&
      !@bgp_session.peer_ip_address_a.empty? &&
      !@bgp_session.peer_ip_address_z.empty? %>

<% router = @bgp_session.peer_host %>

<% prefixes_v4 = @bgp_session.prefixes.map { |prefix| prefix.version == 4 ? prefix.prefix : nil }.compact %>
<% prefixes_v6 = @bgp_session.prefixes.map { |prefix| prefix.version == 6 ? prefix.prefix : nil }.compact %>

<% peer_group = (@bgp_session.session_type_info == 'v6') ? 'customer-v6' : 'customer' %>

<div>
  <div class='title2'>Provisioning Helper</div>

  <h3><%= router %></h3>

  <% if @account %>

  <%# I hate ERB %>

  Setup:
  <br/>
  <br/>

  <pre>
    conf t

    <% if @bgp_session.session_type_info == 'v4' -%>no ip prefix-list pl-cust-as<%= @bgp_session.asn.to_s %>
    <% prefixes_v4.each do |prefix| -%>ip prefix-list pl-cust-as<%= @bgp_session.asn.to_s %> permit <%= prefix %> le 24
    <% end -%>ip prefix-list pl-cust-as<%= @bgp_session.asn.to_s %> deny 0.0.0.0/0 le 32
    <% end -%><% if @bgp_session.session_type_info == 'v6' -%>no ipv6 prefix-list pl-cust-as<%= @bgp_session.asn.to_s %>
    <% prefixes_v6.each do |prefix| -%>ipv6 prefix-list pl-cust-as<%= @bgp_session.asn.to_s %> permit <%= prefix %>
    <% end -%>ipv6 prefix-list pl-cust-as<%= @bgp_session.asn.to_s %> deny ::/0 le 128
    <% end -%>

    router bgp 25795

    neighbor <%= @bgp_session.peer_ip_address_z %> remote-as <%= (router == 's1.lax' && @bgp_session.asn > 65535) ? '23456' :  @bgp_session.asn.to_s %>
    neighbor <%= @bgp_session.peer_ip_address_z %> description Customer: <%= @bgp_session.resource.service.account.display_name %>
    address-family ip<%= @bgp_session.session_type_info %>
    neighbor <%= @bgp_session.peer_ip_address_z %> activate
    neighbor <%= @bgp_session.peer_ip_address_z %> prefix-list pl-cust-as<%= @bgp_session.asn.to_s %> in
    neighbor <%= @bgp_session.peer_ip_address_z %> peer-group <%= peer_group %>
    exit-address-family
    end
  <% end %>
  </pre>

  Tear-down:
  <br/>
  <br/>

  <pre>
    conf t

    <% if @bgp_session.session_type_info == 'v4' -%>no ip prefix-list pl-cust-as<%= @bgp_session.asn.to_s %>
    <% end -%><% if @bgp_session.session_type_info == 'v6' -%>no ipv6 prefix-list pl-cust-as<%= @bgp_session.asn.to_s %>
    <% end -%>

    router bgp 25795

    no neighbor <%= @bgp_session.peer_ip_address_z %>

    end
  </pre>

  </div>
</div>
<% end %>
