<table class="invoice_detail">
  <caption>Invoice Detail</caption>
  <thead></thead>
  <tbody>
    <tr>
      <td colspan="5" class="header">
        <div class="company">
          <pre>
ARP Networks, Inc.
8605 Santa Monica Blvd
PMB 71478
West Hollywood, CA 90069-4109
+1 855 444-3145
          </pre>
        </div>

        <div class="stats">
          <div class="date">
            <%= date_in_words(@invoice.date) %>
          </div>

          <div class="number">
            Invoice Number: <%= @invoice.id %>
          </div>

          <div class="status">
            Status: <%= invoice_paid_text(@invoice) %>
          </div>
        </div>

        <div class="bill_to">
          <span class="label">
            Bill To:
          </span>

          <pre>
<%= @invoice.bill_to %>
          </pre>
        </div>

        <div class="message">
          <%= @invoice.message %>
        </div>

        <div class="terms">
          Terms: <%= @invoice.terms.to_s.empty? ? "None" : @invoice.terms %>
        </div>
      </td>
    </tr>
    <tr class="line-items-heading">
      <td class="date">Date</td>
      <td class="code">Code</td>
      <td class="description">Description</td>
      <td class="amount">Amount</td>
    </tr>
    <% @invoice.line_items.each do |line_item| %>
      <tr class="line-items">
        <td class="date"><%= date_in_words(line_item.date) %></td>
        <td class="code"><%= line_item.code %></td>
        <td class="description"><%= line_item.description %></td>
        <td class="amount"><%= money2(line_item.amount) %></td>
      </tr>
    <% end %>
    <tr class="totals-label">
      <td colspan="3" class="totals totals-label">Totals</td>
      <td colspan="1" class="totals-label"></td>
    </tr>
    <tr class="totals">
      <td colspan="3" class="totals">Total</td>
      <td colspan="1"><%= money2(@invoice.total) %></td>
    </tr>

    <tr class="totals">
      <td colspan="3" class="totals">Amount Paid</td>
      <td colspan="1"><%= money2(@invoice.paid) %></td>
    </tr>

    <tr class="totals">
      <td colspan="3" class="totals">Balance</td>
      <td colspan="1"><%= money2(@invoice.balance) %></td>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>

<% if @enable_admin_view && !@invoice.payments.empty? %>
  <table class="table is-striped">
    <caption>Payments</caption>
    <thead>
      <tr>
        <th class="id">ID</th>
        <th class="date">Date</th>
        <th class="money">Amount</th>
        <th><abbr title="Reference Number">Ref. No.</abbr></th>
        <th><abbr title="Check Number">Check No.</abbr></th>
        <th>Method</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.payments.each do |payment| %>
        <tr>
          <td><%= link_to(payment.id, edit_admin_invoice_payment_path(@invoice, payment), title: "Invoice ##{payment.id}") %></td>
          <td class="date"><%= date_in_words(payment.date) %></td>
          <td class="money"><%= money2(payment.amount) %></td>
          <td><%= payment.reference_number %></td>
          <td><%= payment.check_number %></td>
          <td><%= payment.method %></td>
          <td><%= (n = payment.notes) && n[0..40] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @enable_admin_view %>
  <br/>

  <nav class="level">
    <div class="left-level">
      <div class="level-item">
        <div class="field">
          <% if !@invoice.paid? %>
            <div class="control">
              <button class="button is-info"
                      onClick="location.href='<%= new_admin_invoice_payment_path(@invoice) %>'">
                      Record Manual Payment
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="right-level">
      <div class="level-item">
        <div class="field is-grouped">
          <% if !@invoice.paid? %>
            <div class="control">
              <%= link_to('Mark Paid', mark_paid_admin_invoice_path(@invoice), method: :put, data: { confirm: "Are you sure you want to mark this invoice paid?" }, class: 'button is-danger is-outlined') %>
            </div>
          <% else %>
            <div class="control">
              <%= link_to('Mark Unpaid', mark_unpaid_admin_invoice_path(@invoice), method: :put, data: { confirm: "Are you sure you want to mark this invoice unpaid?" }, class: 'button is-danger is-outlined ') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
<% end %>
