<div class="error">
  <%= error_messages_for :payment %>
</div>

<div class="columns is-centered">
  <div class="column is-three-fifths">
    <h2 class="title arp-header">Invoice Payment</h1>
    <div class="box">
      <div class="container">

        <%= form_for [:admin, @invoice, @payment] do |f| %>
          <div class="field">
            <label class="label">Account</label>
            <div class="control">
              <%= @invoice.account.display_account_name_with_login %>
            </div>
          </div>

          <div class="field">
            <label class="label">Invoice No.</label>
            <div class="control">
              <%= @invoice.id %>
            </div>
          </div>

          <div class="field">
            <label class="label">Invoice Total</label>
            <div class="control">
              <%= money(@invoice.total) %>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Date</label>
                <div class="control">
                  <%= f.date_field :date, class: 'input is-small' %>
                </div>
              </div>
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
          </div>

          <div class="field">
            <label class="label">Reference Number</label>
            <div class="control">
              <%= f.text_field :reference_number, class: 'input is-small' %>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Check Number</label>
                <div class="control">
                  <%= f.text_field :check_number, class: 'input is-small' %>
                </div>
              </div>
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
          </div>

          <div class="field">
            <label class="label">Method</label>
            <div class="control">
              <div class="select">
                <%= f.select :method, ['Check', 'Credit Card', 'PayPal', 'Stripe'], include_blank: true  %>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Amount</label>
                <div class="control">
                  <%= f.text_field :amount, class: 'input' %>
                </div>
              </div>
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
          </div>

          <div class="field">
            <label class="label">Notes</label>
            <div class="control">
              <%= f.text_area :notes, class: 'textarea' %>
            </div>
          </div>

          <nav class="level">
            <div class="left-level">
              <div class="level-item">
                <div class="field is-grouped">
                  <div class="control">
                    <input type='submit' value="Save" class='button is-link' />
                  </div>
                  <div class="control">
                    <button class='button is-link is-light' id='cancel-button'
                            onClick="location.href='<%= admin_invoice_path(@invoice) %>'">
                            Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <% if @payment.id %>
              <div class="right-level">
                <div class="level-item">
                  <div class="field">
                    <div class="control">
                      <%= link_to('Delete Payment', admin_invoice_payment_path(@invoice, @payment), method: :delete, data: { confirm: "Are you sure you want to delete this payment?" }, class: 'button is-danger') %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </nav>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
  $("#cancel-button").click(function(e) {
  e.preventDefault();
  })
<% end %>
