<% if !@enable_admin_view %>
<style type='text/css'>
  table.virtual_machines tr.odd:hover td, table.virtual_machines tr.even:hover td {
    background-color: #ddf;
  }
</style>
<% end %>

<thead>
  <% if @enable_admin_view && action_name == 'index' %>
  <tr>
    <td colspan="<%= virtual_machines_colspan(@enable_admin_view) %>" class="pagination">
      <span class="page-entries-info">
        <%= page_entries_info @virtual_machines %>
        (<%= link_to('Show All', admin_virtual_machines_path(:per_page => 999999)) %>)
      </span>
      <span class="page-links">
      <%= will_paginate @virtual_machines %>
      </span>

      <span style='clear: both'>
    </td>
  </tr>
  <% end %>
  <tr>
    <th class="action" style="width: <%= @enable_admin_view && !@sub_admin_view ? 65 : 20 %>px"></th>

    <% if @enable_admin_view %>
      <th class="account">Account</th>
    <% end %>

    <th class="ram">RAM</th>
    <th class="storage">Storage</th>
    <th>Operating System</th>
    <% unless @enable_admin_view %>
    <th>UUID</th>
    <% end %>
    <th>IP Address</th>
    <th>Status</th>

  </tr>
</thead>
<tbody>
  <% if @virtual_machines.size == 0 %>
    <tr>
      <td class="no_records" colspan="<%= virtual_machines_colspan(@enable_admin_view) %>">
        No virtual machines found
      </td>
    </tr>
  <% else %>
  <% reset_cycle %>
  <% @virtual_machines.each do |virtual_machine| %>
    <% if @enable_admin_view %>
      <tr class="<%= cycle("odd", "even") -%>">
    <% else %>
      <tr class="<%= cycle("even", "odd") -%>" style="cursor: default">
    <% end %>
      <td class="action">
      <% if @enable_admin_view %>
        <%= link_to(image_tag('/images/icons/magnifier.png', :alt => "Details"), admin_virtual_machine_path(virtual_machine.id)) %>
      <% else %>
        <%#= link_to(image_tag('/images/icons/magnifier.png', :alt => "Details"), account_service_virtual_machine_path(@account, :*, virtual_machine.id)) %>
      <% end %>

      <% if @enable_admin_view %>
          <% unless @sub_admin_view %>
          <span class="icon has-text-warning">
            <a href='<%= edit_admin_virtual_machine_path(virtual_machine.id) %>'><i class="fas fa-edit"></i></a>
          </span>
          <span class="icon has-text-danger">
            <a href='<%= admin_virtual_machine_path(virtual_machine.id) %>'
               data-confirm="Are you sure you want to delete this service?  All *RESOURCES* assigned to this service will **ALSO BE DELETED**.  THIS CANNOT BE UNDONE."
               rel="nofollow" data-method="delete" ><i class="fas fa-times"></i></a>
          </span>
          <% end %>
        <td class="account"><%= h(admin_account_path_from_resource(virtual_machine.resource)) %></td>
      <% end %>
      </td>

      <td class="ram"     <%= virtual_machines_table_onClick(virtual_machine) %>><%= virtual_machine.ram %> MB</td>
      <td class="storage" <%= virtual_machines_table_onClick(virtual_machine) %>><%= virtual_machine.storage %> GB</td>
      <td <%= virtual_machines_table_onClick(virtual_machine) %>><%= virtual_machine.os %></td>
      <% unless @enable_admin_view %>
      <td class="uuid" <%= virtual_machines_table_onClick(virtual_machine) %>><%= virtual_machine.uuid %></td>
      <% end %>
      <td class="ip_address" <%= virtual_machines_table_onClick(virtual_machine) %>><%= virtual_machine.display_ip_address %></td>
      <td class="status" <%= virtual_machines_table_onClick(virtual_machine) %>>

        <% if virtual_machine.display_provisioning_status != 'Done' %>
          <span class="icon has-text-warning">
              <i class="fas fa-circle-notch fa-spin"></i>
          </span>
        <% else %>
          <%
            case virtual_machine.status
            when 'running'
              icon_style = 'success'
            when 'initializing'
              icon_style = 'warning'
            else
              icon_style = 'danger'
            end
          %>
        <span class="icon has-text-<%= icon_style %>">
            <i class="fas fa-circle"></i>
        </span>
        <% end %>
        <span>
          <%= virtual_machine.display_status %>
        </span>
      </td>

    </tr>
  <% end %>
<% end %>
</tbody>
