<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ARP Networks Control Panel</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

  <% if (controller.controller_name == 'my_account' && controller.action_name == 'dashboard') -%>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3" async></script>
  <% end %>
  <% if controller.controller_name == 'credit_cards' || controller.controller_name == 'services' %>
  <!-- Stripe -->
  <script src="https://js.stripe.com/v3"></script>
  <% end -%>

  <!-- Font Awesome 5.0 -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">

  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff">

</head>
<body>

<div class="main-container">
  <div class="logo">
    <a href='<%= dashboard_path %>'><img src='/images/logo-small-new.jpg' width='264' height='29' alt='Logo' class="logo" align="top"/></a>
  </div>
  <div class="logo-features">
    <div class="logo-caption">
      Customer Control Panel
    </div>
    <div class="basic-nav-links">
    <% if account_signed_in? %>
      <%= link_to('Logout', destroy_account_session_path, method: :delete, :class => "logout") %>
      <span id="changelog"></span>
    <% else %>
      &nbsp;
      &nbsp;
      <%= link_to('Login', new_account_session_path, :class => "login") %>

    <% end %>
    </div>
  </div>

  <div class="logo-divider"></div>

  <%= render_flash %>

  <div class="main-content">
    <%= yield :layout %>
  </div>

  <div class="footer">
    <div class="copyright">
      Copyright &copy; 1999 - 2023 ARP Networks, Inc.  All Rights Reserved.
    </div>
    <div class="attribution">
      Icons provided by <a href='http://www.famfamfam.com/'>famfamfam</a>, <a href='http://www.freepik.com/'>Freepik</a>, <a href='http://www.flaticon.com/'>Flaticon</a>, and <a href='http://www.free-country-flags.com/'>Free Country Flags</a>
    </div>
  </div>
</div>

<script type='text/javascript'>
  <%= yield :js %>
</script>

</body>
</html>
