<div>
  <%= form_tag login_attempt_accounts_path %>
  <table class="entry_form login" align="center">
    <caption>Login</caption>
    <tfoot>
      <tr>
        <td></td>
        <td colspan="1">
          <input type='submit' value="Login" />
          &nbsp;&nbsp; 
          <%= link_to 'Forgot your password?', forgot_password_accounts_path %>
        </td>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td class="label">Username:</td>
        <td>
        <%= text_field :account, :login %>
        </td>
      </tr>
      <tr>
        <td class="label">Password:</td>
        <td><%= password_field :account, :password %></td>
      </tr>
    </tbody>
  </table>
  </form>
</div>

<div class="very_strong">OR</div>
<div style="text-align: center">
  Don't have an account?  Register one 
  <%= link_to 'here', new_account_path %>.
</div>
